@import "../../public/icomoon/style.css";

:root {
  --theme-color-1: #fff;
  --primary: #f6f8ff;
  --primary-dark: #d1d6ee;
  --primary-darkest: #8a91b4;
  --text: #362a89;
  --text-opacity: 1;
  --success: #eeecff;
  --success-stroke: 14;
  --success-opacity: 0;
  --border-radius: 7;
  --overflow: hidden;
  --width: 5;
  --height: 3.3;
  --rotate: 0;
  --plane-opacity: 1;
}
body {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: calc(var(--width) * 1rem);
  height: calc((var(--height)) * 1rem);
  border-radius: calc(var(--border-radius) * 1px);
  background-color: transparent;
  position: relative;
  border: none;
  outline: none;
  background-color: white;
  box-sizing: border-box;
}
.container.active {
  background-color: transparent;
}
.container.-size-small {
  width: calc(var(--width) * 1rem);
}
.container.-size-medium {
  --width: 6; /* --width:var(--width) + 1 =>  ??*/
  width: calc((var(--width)) * 1rem);
}
.container.-size-large {
  --width: 7;
  width: calc((var(--width)) * 1rem);
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  padding: 0.5rem;
  width: calc(var(--width) * 1rem);
  height: calc((var(--height)) * 1rem);
  border: none;
  /* overflow: var(--overflow); */
  transition: all 0.3s ease-in;
  background-color: transparent !important;
}
.button.active {
  animation: planeRotate 1s alternate 3s forwards,
    shoot 1s alternate 5.8s forwards, opacity 1s alternate 5.8s forwards;
}
.button.after {
  flex-direction: row-reverse;
}
.space {
  width: 0.7rem;
}
.iconClassName {
  font-family: "icomoon";
}
.button.active .left {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 39px solid transparent;
  border-bottom: 39px solid transparent;
  border-left: 39px solid white;
  top: -26px;
  left: -4.6px;
  opacity: 1;
  transform: rotate(227deg);
  animation: leftAnim 3s alternate 0s forwards;
}
.button.active .right {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 39px solid transparent;
  border-bottom: 39px solid transparent;
  border-left: 39px solid white;
  top: -26px;
  right: -4.6px;
  transform: rotate(313deg);
  opacity: 1;
  animation: rightAnim 3s alternate 0s forwards;
}
.button.active .middle {
  position: absolute;
  width: 0rem;
  height: 0rem;
  /* border-left: calc((var(--width) / 2) * 1rem) solid transparent;
  border-right: calc((var(--width) / 2) * 1rem) solid transparent;
  border-bottom: calc((var(--height)) * 1rem) solid yellow; */
  border-left: 3.5rem solid transparent;
  border-right: 3.5rem solid transparent;
  border-bottom: 3.3rem solid yellow;
  /* transition: all 0.3s ease-in; */

  animation: justScale 1s alternate 3s forwards;
}
.button.active .middle::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 3.3rem;
  z-index: 100;
  transition: all 0.3s ease-in;
  background: conic-gradient(
    at 50% 0%,
    transparent 163deg,
    var(--primary-darkest) 164deg,
    var(--primary-darkest) 176deg,
    var(--primary-dark) 177deg,
    var(--primary-dark) 196deg,
    transparent 197deg
  );
  animation: planeColor 1s alternate 3s forwards;
}
.button.active .tail {
  width: 2rem;
  height: 1.3rem;
  position: absolute;
  top: 100%;
  left: 2.5rem;
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
  background: conic-gradient(
    at 40% 50%,
    transparent 118deg,
    var(--primary-dark) 119deg,
    var(--primary-dark) 179deg,
    var(--primary-darkest) 180deg,
    var(--primary-darkest) 229deg,
    transparent 231deg
  );
  animation: colorTail 1s alternate 3s forwards;
}

@keyframes planeRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(40deg);
  }
}
@keyframes justScale {
  50% {
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
  }
  100% {
    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid transparent;
  }
}
@keyframes colorTail {
  0% {
    background: conic-gradient(
      at 50% 50%,
      transparent 123deg,
      white 124deg,
      white 181deg,
      white 182deg,
      white 233deg,
      transparent 235deg
    );
  }
  25% {
    background: conic-gradient(
      at 50% 50%,
      transparent 123deg,
      rgb(245, 243, 243) 124deg,
      rgb(245, 243, 243) 181deg,
      rgb(236, 234, 234) 182deg,
      rgb(236, 234, 234) 237deg,
      transparent 238deg
    );
  }
  50% {
    background: conic-gradient(
      at 40% 50%,
      transparent 118deg,
      var(--primary-dark) 119deg,
      var(--primary-dark) 179deg,
      var(--primary-darkest) 180deg,
      var(--primary-darkest) 229deg,
      transparent 231deg
    );
  }
  75% {
    background: conic-gradient(
      at 40% 50%,
      transparent 118deg,
      var(--primary-dark) 119deg,
      var(--primary-dark) 179deg,
      transparent 180deg
    );
  }
  100% {
    background: conic-gradient(
      at 35% 50%,
      transparent 117deg,
      var(--primary-dark) 118deg,
      var(--primary-dark) 139deg,
      var(--primary-darkest) 140deg,
      var(--primary-darkest) 180deg,
      transparent 177deg
    );
  }
}
@keyframes planeColor {
  0% {
    background: conic-gradient(
      at 50% 50%,
      transparent 123deg,
      white 124deg,
      white 181deg,
      white 182deg,
      white 237deg,
      transparent 238deg
    );
  }
  25% {
    background: conic-gradient(
      at 50% 0%,
      transparent 164deg,
      rgb(236, 234, 234) 165deg,
      rgb(236, 234, 234) 179deg,
      rgb(245, 243, 243) 180deg,
      rgb(245, 243, 243) 196deg,
      transparent 197deg
    );
  }
  50% {
    background: conic-gradient(
      at 50% 0%,
      transparent 163deg,
      var(--primary-darkest) 164deg,
      var(--primary-darkest) 176deg,
      var(--primary-dark) 177deg,
      var(--primary-dark) 196deg,
      transparent 197deg
    );
  }
  75% {
    background: conic-gradient(
      at 50% 0%,
      transparent 163deg,
      white 164deg,
      white 176deg,
      var(--primary-dark) 177deg,
      var(--primary-dark) 196deg,
      transparent 197deg
    );
  }
  100% {
    background: conic-gradient(
      at 50% 0%,
      transparent 168deg,
      transparent 168deg,
      transparent 184deg,
      var(--primary-dark) 185deg,
      var(--primary-dark) 196deg,
      transparent 197deg
    );
  }
}
@keyframes tail {
  /* 0% {
    top: 70%;
  }
  100% {
    top: 100%;
  } */
}
@keyframes colorRight {
  100% {
    border-bottom: calc((var(--height)) * 1rem) solid rgb(245, 243, 243);
  }
}
@keyframes colorLeft {
  100% {
    border-bottom: calc((var(--height)) * 1rem) solid rgb(236, 234, 234);
  }
}
@keyframes shoot {
  80%,
  100% {
    transform: rotate(40deg) translate(0, -300px);
  }
}
@keyframes opacity {
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.6;
  }
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes leftAnim {
  0% {
    border-left: 31px solid var(--primary-dark);
    top: -24px;
    left: 2.4px;
    transform: rotate(227deg);
    opacity: 1;
  }
  10% {
    border-left: 22px solid var(--primary-dark);
    top: -21px;
    left: 10px;
    transform: rotate(227deg);
    opacity: 1;
  }
  20% {
    border-left: 11px solid var(--primary-dark);
    top: -16px;
    left: 19.4px;
    transform: rotate(227deg);
    opacity: 1;
  }
  30% {
    border-left: 4px solid var(--primary-dark);
    top: -13.5px;
    left: 25.4px;
    transform: rotate(227deg);
  }
  40% {
    transform: rotate(47deg);
    opacity: 0;
  }
  50% {
    border-left: 4px solid var(--primary-dark) een;
    top: -11.5px;
    left: 27.4px;
    transform: rotate(47deg);
    z-index: 1;
  }
  60% {
    border-left: 11px solid var(--primary-dark);
    top: -8.5px;
    left: 26px;
    transform: rotate(47deg);
    z-index: 1;
  }
  70% {
    border-left: 22px solid var(--primary-dark);
    top: -4.5px;
    left: 24px;
    transform: rotate(47deg);
    z-index: 1;
  }
  80% {
    border-left: 31px solid var(--primary-dark);
    top: -1.5px;
    left: 23px;
    transform: rotate(47deg);
    z-index: 1;
  }
  100% {
    border-left: 38px solid transparent;
    top: 0.5px;
    left: 22px;
    transform: rotate(46deg);
    z-index: 1;
  }
}
@keyframes rightAnim {
  0% {
    border-left: 31px solid var(--primary-dark);
    top: -24px;
    right: 2.4px;
    transform: rotate(313deg);
    opacity: 1;
  }
  10% {
    border-left: 22px solid var(--primary-dark);
    top: -20.5px;
    right: 10px;
    transform: rotate(313deg);
    opacity: 1;
  }
  20% {
    border-left: 11px solid var(--primary-dark);
    top: -16.5px;
    right: 19.4px;
    transform: rotate(313deg);
    opacity: 1;
  }
  30% {
    border-left: 4px solid var(--primary-dark);
    top: -13.5px;
    right: 25.4px;
    transform: rotate(313deg);
  }
  40% {
    opacity: 0;
    transform: rotate(133deg);
  }
  50% {
    border-left: 4px solid var(--primary-dark);
    top: -11.5px;
    right: 27.4px;
    transform: rotate(133deg);
    opacity: 1;
    z-index: 1;
  }
  60% {
    border-left: 11px solid var(--primary-dark);
    top: -8.5px;
    right: 25.4px;
    transform: rotate(133deg);
    z-index: 1;
    opacity: 1;
  }
  70% {
    border-left: 22px solid var(--primary-dark);
    top: -4.5px;
    right: 24px;
    transform: rotate(133deg);
    z-index: 1;
    opacity: 1;
  }
  80% {
    border-left: 31px solid var(--primary-dark);
    top: -1.5px;
    right: 23px;
    transform: rotate(133deg);
    z-index: 1;
    opacity: 1;
  }
  100% {
    border-left: 38px solid transparent;
    top: 0.5px;
    right: 22px;
    transform: rotate(134deg);
    z-index: 1;
    opacity: 1;
  }
}
